span {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

div {
    color: red;
    font-style: italic;
    text-decoration: overline;
    text-decoration-color: green;
    text-decoration-style: dashed;
    text-decoration-thickness: 4px;
    display: inline;
}