body {
    background-color: lightgray;
}

.C {
    background-color: rgb(237, 198, 127);
    border: 2px solid red;
    position: relative;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.A {
    position: absolute;
    top: 14px;
    left: 32px;
}
.B {
    position: absolute;
    bottom: 12px;
    left: 32px;
}