progress {
  background-color: white;
  width: 100%;
}

.progress-superhigh::-webkit-progress-value {
  background-color: lightblue !important;
}

.progress-high::-webkit-progress-value {
  background-color: green !important;
}

.progress-medium::-webkit-progress-value {
  background-color: yellow !important;
}

.progress-low::-webkit-progress-value {
  background-color: orange !important;
}

.progress-superlow::-webkit-progress-value {
  background-color: red !important;
}
